<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Main page</title>
    </head>
    <body>
        
        <h1>Hello, <span sec:authentication="name">Bob</span></h1>
        
        <header th:replace="fragments/header :: header">
            <p>header with links etc</p>
        </header>
		  

        
        
        <p><a th:href="@{/create}">Create new idea</a></p>

        <h1>Ideas you have supported:</h1>
                
            <div th:each="entry : ${supported}" style="display: in-line;">
         
                <div><h3><a th:href="@{/suggestions/info/{id}(id=${entry.id})}"><span th:text="${entry.topic}">topic</span></a></h3></div>
                <div><span th:utext="${entry.description}">value</span></div>
                <div>Likes: <span th:text="${#lists.size(entry.likedUsers)}">likes</span></div>
                <div><form th:action="@{/suggestions/like/{id}(id=${entry.id})}" th:method="POST"><input type="submit" value="Like"/></form></div>
               
                
            </div>
        
        
        <h1>All other ideas:</h1>
        
         <ul>
            <li th:each="entry : ${nonsupported}">
                <div><h3><a th:href="@{/suggestions/info/{id}(id=${entry.id})}"><span th:text="${entry.topic}">topic</span></a></h3></div>
                <div><span th:utext="${entry.description}">description</span></div>
                <div>Likes: <span th:text="${#lists.size(entry.likedUsers)}">likes</span></div>
                <div><form th:action="@{/suggestions/like/{id}(id=${entry.id})}" th:method="POST"><input type="submit" value="Like"/></form></div>
     
            </li>
        </ul>

        <p></p>
    </body>
</html>
